<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <h1 class="header">
  	<a id="headerheadline" href="/">ToDoリスト</a>
  	<a id="headersearch" href="/search">検索</a>
  </h1>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>